/*linkear la página de Css con "a", hecho, estoy trabajando con la carpeta del ejercicio 1, el libro dice que hay que hacerlo con link,
 no sé cual es la diferencia: la diferencia es que el linkk no apaerce como para navegar, en cambio el "ancord" sí*/


/*----ASPECTOS GENERALES----*/

* {
    font-family: cursive;
}

/*----CONTENEDOR PADRE-MADRE es flexbox APLICADO A DIV DENTRO DE HEADER----*/

.contenedor_flex{
    
    display: flex;
    flex-direction: column;
    flex-flow: column;

    
}

/* ---------------------Cabecera----------------*/

/*Título*/

.titulo1{

    color: white;
    
    padding-left: 15px;
    text-align: left;
    font-size: 3.5em;
}

/*Imagen de fondo*/

.cabecera1{
    background-image: url(../Images/design1_image1.jpg);
    background-size: cover;
    width: auto;
    height: 700px;
}

/*Upcoming events*/

.cabecera2 {
    text-align: center;
    color: white;
    font-size: 2.0em;
    
    width: auto;
    

    border: black solid 2px; /*EL border me muesta el margin top pegado a la otra cabecera, pero cuando pongo background color, se separa, le borré el heigth de 2.5em y se arregló*/
    
    background-color: black;
}

/*logo*/

.logo {
    position: absolute; /* Despega el elemento de la capa que lo contenía - en esta sección me costó mucho alinearlo respetando los flex porque le había dado medidas mal*/
  
    margin-top: -13%;
    margin-left: 70%; /*Creo que sólo hay que dale las medidas del top o left porque su centro va a estar dado por los contenedores y cómo yo los voy a ordenar, en mi caso "column"*/
    

    
}
/*---------------------CONTENEDOR IZQUIERDA-LISTA------------------*/

.contenedor_flex_izquierdo{

    display: flex;
    flex-direction: column;
    flex-flow: column;

    float: left;/*Esto no sé porqu hace que el siguiente bloque se ponga a la derecha, en mi caso el div de  "cuerpo1"*/

    font-size: 1.5em;

    padding-right: 5%;
    
    width: 15%; /*Cuando están bien alineados las box, dividir el 100% de la página y se acoplan con las demás cajas*/
  
    }

.contenedor_flex_izquierdo li{
        
    list-style: none;
    text-align: center;
    padding: 10%; /*APLICA A LOS 4 LADOS*/
    

}/*Se aplica aquí ya que el selector específico es para la "li", si lo ponía en el contenedor flex de la lista completa (el anterior), le izquierdo se aplica a todo el contenedor y no al elemento que quiero en particular*/



/* -----body-first-paragraph, los títulos de esta sección van en cursiva ¿se puede aplicar un diseño de un elemento que está dentro de una clase? ----------------*/

.cuerpo1{
    font-size: 1.5em ;
    float: left;/*El float hizo que cuadraran los border, sin uso de margin*/

    width: 50%;/*Se acopla a la box de al lado*/
}

.cuerpo1 h3 {
    font-style: italic;
    
        /* no sé porque no se aplica italic a los párrafos, tal vez no tenga el tipo de fuente, no aplicaba porque estaba mal escrito mi sleector d clase*/
}


